.bg-appcolor {
    background-color: #e77843;
}

.btn-appprimary {
    background-color: #e77843;
    border: 1px solid #e77843;
    color: #ffffff;
}

.btn-appprimary:hover {
    background-color: #d36d3e;
    border: 1px solid #d36d3e;
    color: #ffffff;
}

.btn-outline-appprimary {
    border: 1px solid #d36d3e;
    color: #d36d3e;
}

.btn-outline-appprimary:hover {
    background-color: #d36d3e;
    border: 1px solid #d36d3e;
    color: #ffffff;
}

.app-link {
    color: #e77843 !important;
}

.app-link:hover {
    color: #d36d3e !important;
}

.app-table-link {
    color: #000000;
    font-size: 16px;
    text-decoration: none;
}

.form-card {
    margin-top: 35px;
    border-radius: 4px;
    padding: 45px 25px 25px 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.data-card {
    margin-top: 35px;
    border-radius: 4px;
    padding: 30px 25px 25px 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.ck-editor__editable_inline {
    height: 500px;
}

.upload-label {
    border: 1px solid #e77843;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #e77843;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
}

.upload-label:hover {
    background-color: #d36d3e;
    border-color: #d36d3e
}

#preview img {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
}

#preview p {
    background-color: #f2f2f2;
    text-align: center;
    min-height: 150px;
    padding-top: 73px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #6b6b6b;
}

.upload-field {
    display: none;
}

#scheduling_box {
    display: none;
}

.table-featured-img {
    width: 45px;
}

.bg-appgrey {
    background-color: #f0f0f0;
}

.post-info {
    padding: 15px;
}

.post-url {
    background-color: #fdfdfd;
    padding: 5px;
    color: #707070;
}

.post-total-views {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    background-color: #fdfdfd;
    color: #707070;
}

.post-content {
    padding: 15px;
}

.post-content img {
    width: 100%;
    margin: 15px 0;
}

#display_segments_box {
    display: none;
}