* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

#pre-header-ad {
    width: 100%;
    height: 250px;
    margin: 2px 0;
    text-align: center;
}

#pre-header-ad img {
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: #ffffff;
    padding: 0 7%;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bold;
    font-size: 25px;
    margin-top: -10px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header .navbar {
    margin-top: 5px;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a{
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px 15px;
    display: block;
}

header .navbar ul li a:hover {
    color: #666666;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 233px;
    padding: 5px 15px;
    background-color: black;
    border-top: 1px solid #ED7B43;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
}

header .navbar ul li ul li {
    padding: 5px 0;
}

header .navbar ul li ul li a {
    font-size: 14px;
    padding: 5px 0;
}

header .navbar ul li ul li ul {
    left: 218px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    background-color: rgb(22, 22, 22);
    padding: 5px 10px;
    margin-top: -10px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    display: none;
}


@media(max-width:1100px){
    header {
        padding: 20px;
        padding-top: 25px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        margin-top: -5px;
        border-top: 1px solid #ED7B43;
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li a {
        padding: 5px;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background-color: rgb(10, 10, 10);
    }

    header .navbar ul li ul li {
        padding: 5px 15px;
    }
    
    header .navbar ul li ul li a {
        padding: 5px 0;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}

/* MAIN PAGE */

main {
    margin-top: 20px;
    color: black;
}

#latest-post, .next-to-latest, .block-post {
    background-color: #f7f7f7;
    margin-bottom: 20px;
    border-bottom: 1px dotted black;
}

.next-to-latest {
    min-height: 300px;
}

.block-post {
    min-height: 250px;
}

#latest-post a, .next-to-latest a, .block-post a {
    color: black;
    text-decoration: none;
}

#latest-post a:hover, .next-to-latest a:hover, .block-post a:hover {
    text-decoration: underline;
}

#latest-post img, .next-to-latest img, .block-post img {
    width: 100%
}

#latest-post h2, .next-to-latest h6, .block-post h6 {
    padding: 15px;
    font-weight: bold;
    line-height: 1.4em;
}

.sidebar-ad {
    width: 100%;
    margin: 2px 0;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar-ad img {
    width: 100%;
}


.segment-block {
    margin-top: 50px;
    border-top: 1px dotted black;
    text-align: center;
}

.segment-block .title {
    margin-top: -12px;
}

.segment-block .segment-title {
    padding: 5px 20px;
    background-color: black;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.segment-block .block-post {
    text-align: left;
    margin-top: 25px;
}

/* FOOTER */

footer {
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 100px;
}

footer a {
    color: black;
}

.bg-appcolor {
    background-color: #ED7B43;
}

.popular-post {
    background-color: #f7f7f7;
}

.popular-post a{
    color: black;
    text-decoration: none;
}

.popular-post a:hover {
    text-decoration: underline;
}

.within-page-ad {
    width: 100%;
    height: 250px;
    margin: 2px 0;
    margin-bottom: 20px;
    text-align: center;
}

.within-page-ad img {
    height: 100%;
}

#post-view {
    width: 100%;
}

#post-view #title {
    font-weight: bold;
    line-height: 1.4em;
}

#post-view #featured-image {
    width: 100%;
    margin: 10px 0 40px 0;
}